@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
}

.logo {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

.logo div {
  height: 48px;
  width: 48px;
  background-size: 75%;
  background-position: center;
  margin-top: 8px;
  margin-right: 4px;
  background-repeat: no-repeat;
}

.app, .layout {
  min-height: 100vh;
}

.ant-layout-footer {
  padding: 0 !important;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crawler-selector {
  padding: 0 0 2vh 0;
}

.crawler-selector .ant-dropdown-link {
  color: #1890ff;
}

.emotion-pie-chart {
  width: 80vw !important;
  max-width: 700px;
  margin: 5vh 0;
  height: unset !important;
}

.emotion-classifier-spinner {
  display: flex;
  justify-content: center;
  padding: 5vh 0;
}